<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>0</key>
		<array>
			<dict>
				<key>showHeader</key>
				<true/>
				<key>showIndicator</key>
				<true/>
				<key>content</key>
				<string></string>
				<key>title</key>
				<string>头像</string>
			</dict>
			<dict>
				<key>showHeader</key>
				<false/>
				<key>showIndicator</key>
				<false/>
				<key>content</key>
				<string></string>
				<key>title</key>
				<string>注册电话</string>
			</dict>
			<dict>
				<key>showHeader</key>
				<false/>
				<key>showIndicator</key>
				<true/>
				<key>content</key>
				<string></string>
				<key>title</key>
				<string>个人/企业认证</string>
			</dict>
			<dict>
				<key>showHeader</key>
				<false/>
				<key>showIndicator</key>
				<true/>
				<key>content</key>
				<string></string>
				<key>title</key>
				<string>实体店认证</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>1</key>
		<array>
			<dict>
				<key>showHeader</key>
				<false/>
				<key>showIndicator</key>
				<true/>
				<key>content</key>
				<string></string>
				<key>title</key>
				<string>地址管理</string>
			</dict>
			<dict>
				<key>showHeader</key>
				<false/>
				<key>showIndicator</key>
				<true/>
				<key>content</key>
				<string></string>
				<key>title</key>
				<string>收车联系人</string>
			</dict>
			<dict>
				<key>showHeader</key>
				<false/>
				<key>showIndicator</key>
				<true/>
				<key>content</key>
				<string></string>
				<key>title</key>
				<string>发车联系人</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>2</key>
		<array>
			<dict>
				<key>showHeader</key>
				<false/>
				<key>showIndicator</key>
				<true/>
				<key>content</key>
				<string></string>
				<key>title</key>
				<string>分享“车销通”给微信好友</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>3</key>
		<array>
			<dict>
				<key>showHeader</key>
				<false/>
				<key>showIndicator</key>
				<true/>
				<key>content</key>
				<string></string>
				<key>title</key>
				<string>用户注册协议</string>
			</dict>
			<dict>
				<key>showHeader</key>
				<false/>
				<key>showIndicator</key>
				<true/>
				<key>content</key>
				<string></string>
				<key>title</key>
				<string>在线交易协议</string>
			</dict>
			<dict>
				<key>showHeader</key>
				<false/>
				<key>showIndicator</key>
				<true/>
				<key>content</key>
				<string></string>
				<key>title</key>
				<string>车辆运输居间服务协议</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>4</key>
		<array>
			<dict>
				<key>showHeader</key>
				<false/>
				<key>showIndicator</key>
				<true/>
				<key>content</key>
				<string></string>
				<key>title</key>
				<string>意见反馈</string>
			</dict>
			<dict>
				<key>showHeader</key>
				<false/>
				<key>showIndicator</key>
				<true/>
				<key>content</key>
				<string></string>
				<key>title</key>
				<string>关于</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>5</key>
		<array>
			<dict>
				<key>showHeader</key>
				<false/>
				<key>showIndicator</key>
				<false/>
				<key>content</key>
				<string></string>
				<key>title</key>
				<string>退出登录</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
