<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>showInfoBar</key>
		<true/>
		<key>sectionTitle</key>
		<string>必填项：</string>
		<key>sectionData</key>
		<array>
			<dict>
				<key>maxInputWord</key>
				<integer>0</integer>
				<key>keyboardType</key>
				<integer>0</integer>
				<key>title</key>
				<string>发车公司</string>
				<key>content</key>
				<string></string>
				<key>showArrow</key>
				<false/>
				<key>showTextField</key>
				<false/>
				<key>placeHolder</key>
				<string>暂无</string>
			</dict>
			<dict>
				<key>maxInputWord</key>
				<integer>0</integer>
				<key>keyboardType</key>
				<integer>0</integer>
				<key>title</key>
				<string>发车地址</string>
				<key>content</key>
				<string></string>
				<key>showArrow</key>
				<true/>
				<key>showTextField</key>
				<false/>
				<key>placeHolder</key>
				<string>请选择</string>
			</dict>
			<dict>
				<key>maxInputWord</key>
				<integer>0</integer>
				<key>keyboardType</key>
				<integer>0</integer>
				<key>title</key>
				<string>发车人</string>
				<key>content</key>
				<string></string>
				<key>showArrow</key>
				<true/>
				<key>showTextField</key>
				<false/>
				<key>placeHolder</key>
				<string>请选择</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>showInfoBar</key>
		<true/>
		<key>sectionTitle</key>
		<string>选填项：</string>
		<key>sectionData</key>
		<array>
			<dict>
				<key>maxInputWord</key>
				<integer>10</integer>
				<key>keyboardType</key>
				<integer>0</integer>
				<key>title</key>
				<string>物流联系人</string>
				<key>content</key>
				<string></string>
				<key>showArrow</key>
				<false/>
				<key>showTextField</key>
				<true/>
				<key>placeHolder</key>
				<string>请填写</string>
			</dict>
			<dict>
				<key>maxInputWord</key>
				<integer>11</integer>
				<key>keyboardType</key>
				<integer>4</integer>
				<key>title</key>
				<string>联系电话</string>
				<key>content</key>
				<string></string>
				<key>showArrow</key>
				<false/>
				<key>showTextField</key>
				<true/>
				<key>placeHolder</key>
				<string>请填写</string>
			</dict>
			<dict>
				<key>maxInputWord</key>
				<integer>25</integer>
				<key>keyboardType</key>
				<integer>0</integer>
				<key>title</key>
				<string>承运物流公司</string>
				<key>content</key>
				<string></string>
				<key>showArrow</key>
				<false/>
				<key>showTextField</key>
				<true/>
				<key>placeHolder</key>
				<string>请填写</string>
			</dict>
			<dict>
				<key>maxInputWord</key>
				<integer>17</integer>
				<key>keyboardType</key>
				<integer>0</integer>
				<key>title</key>
				<string>车架号</string>
				<key>content</key>
				<string></string>
				<key>showArrow</key>
				<false/>
				<key>showTextField</key>
				<true/>
				<key>placeHolder</key>
				<string>请填写</string>
			</dict>
			<dict>
				<key>maxInputWord</key>
				<integer>0</integer>
				<key>keyboardType</key>
				<integer>0</integer>
				<key>title</key>
				<string>随车手续</string>
				<key>content</key>
				<string></string>
				<key>showArrow</key>
				<true/>
				<key>showTextField</key>
				<false/>
				<key>placeHolder</key>
				<string>请选择</string>
			</dict>
			<dict>
				<key>maxInputWord</key>
				<integer>0</integer>
				<key>keyboardType</key>
				<integer>0</integer>
				<key>title</key>
				<string>随车附件</string>
				<key>content</key>
				<string></string>
				<key>showArrow</key>
				<true/>
				<key>showTextField</key>
				<false/>
				<key>placeHolder</key>
				<string>请选择</string>
			</dict>
			<dict>
				<key>maxInputWord</key>
				<integer>0</integer>
				<key>keyboardType</key>
				<integer>0</integer>
				<key>title</key>
				<string>备注</string>
				<key>content</key>
				<string></string>
				<key>showArrow</key>
				<true/>
				<key>showTextField</key>
				<false/>
				<key>placeHolder</key>
				<string>请填写</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
